<h3><%= @team.team_name %></h3>
<%@team.champions.collect do |champ| %>
<ul>
<li><a href="/champions/<%=champ.id%>"><%=champ.Name%></li></a>
<%end%>
</ul>
<p>Champion statistics coming soon!!!</p>


<form action="/teams/<%= @team.id %>" method="post">
    <a href="/teams/<%= @team.id %>/edit" class="btn">Edit Team</a>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove Team" class="btn">
</form>